{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1>Welcome to My Inventory App</h1>

<!-- Add your page-specific content here -->
<div class="row">
  {%for i in range(12)%}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4">
      <img
        src="https://m.media-amazon.com/images/I/81zUYKkvxFL._UF1000,1000_QL80_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">tommy the cat</h5>
        
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">primus</li>
        <li class="list-group-item">sailing the sea of cheese</li>
        <li class="list-group-item">4:25</li>
      </ul>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
