{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<h1>Welcome to My Inventory App</h1>

<!-- Add your page-specific content here -->
<div class="row">
  {%for song in songs%}
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4">
     
      <img
        src="{{song.image}}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{song.title}}</h5>
        
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{song.artist}}</li>
        <li class="list-group-item">{{song.album}}</li>
        <li class="list-group-item">{{song.duration}}</li>
        <a href="#" class="btn btn-primary">edit</a>
        <a href="#" class="btn btn-primary">delete</a>
        
      </ul>
    </div>
  </div>
  {%endfor%}
</div>

{% endblock %}
